<?xml version="1.0"?>
<!--
/**
 * Copyright © Pronko Consulting (https://www.pronkoconsulting.com)
 * See LICENSE for the license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Block\Cache">
        <plugin name="PronkoSelectiveCachePlugin" type="Pronko\SelectiveCache\Plugin\CachePlugin" />
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="flushInvalidatedCache" xsi:type="object">Pronko\SelectiveCache\Console\Command\CacheFlushInvalidatedCommand</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="PronkoSelectiveCacheCustomLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers"  xsi:type="array">
                <item name="debug" xsi:type="object">Pronko\SelectiveCache\Logger\DebugHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Pronko\SelectiveCache\Cron\FlushInvalidatedCacheTypes">
        <arguments>
            <argument name="logger" xsi:type="object">PronkoSelectiveCacheCustomLogger</argument>
        </arguments>
    </type>
</config>
