<?xml version="1.0"?>
<!--
/**
 * Copyright © Pronko Consulting (https://www.pronkoconsulting.com)
 * See LICENSE for the license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Block\Cache">
        <plugin name="PronkoSelectiveCachePlugin" type="Pronko\SelectiveCache\Plugin\CachePlugin" />
    </type>
    <type name="Magento\AdminNotification\Model\System\Message\CacheOutdated">
        <plugin name="PronkoSelectiveCacheMessagePlugin" type="Pronko\SelectiveCache\Plugin\CacheOutdatedMessagePlugin" />
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="flushInvalidatedCache" xsi:type="object">Pronko\SelectiveCache\Console\Command\CacheFlushInvalidatedCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Pronko\SelectiveCache\Logger\CleanCacheLoggerHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Pronko\SelectiveCache\Logger\CleanCacheLogger">
        <arguments>
            <argument name="name" xsi:type="string">CleanCacheLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Pronko\SelectiveCache\Logger\CleanCacheLoggerHandler</item>
            </argument>
        </arguments>
    </type>
</config>
