<?xml version="1.0"?>
<!--
/**
 * Copyright © Pronko Consulting (https://www.pronkoconsulting.com)
 * See LICENSE for the license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cache_flush_invalidated">
        <observer name="flush_invalidated" instance="Pronko\SelectiveCache\Observer\FlushInvalidatedCache"/>
    </event>
</config>
