<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <selectivecache>
            <general>
                <enabled>0</enabled>
                <cronjob_clear_invalidated_cache>/5 * * * *</cronjob_clear_invalidated_cache>
            </general>
        </selectivecache>
    </default>
</config>
